.page {
  display: flex;
  flex-direction: column;

  ul {
    list-style: none;
  }

  .about {
    margin-bottom: var(--space-mid);

    div:first-of-type {
      display: flex;
      aspect-ratio: 4/3;
      grid-column: 1 / 5; // Börjar vid kolumn 1 och slutar vid kolumn 3

      img {
        object-fit: cover;
      }

      @include mq($from: desktop) {
        grid-column: 2 / 6; // Börjar vid kolumn 1 och slutar vid kolumn 3
      }
    }

    .text {
      grid-column: 5 / 13; // Börjar vid kolumn 1 och slutar vid kolumn 3

      @include mq($from: desktop) {
        grid-column: 7 / 12; // Börjar vid kolumn 1 och slutar vid kolumn 3
      }
    }
  }

  .people {
    margin-top: var(--space-bigger);
    margin-bottom: var(--space-big);

    ul {
      padding: 0;

      li {
        grid-column: span 6;

        @include mq($from: desktop) {
          grid-column: span 3;
        }

        .number {
          font-size: 3rem;
          line-height: 1;
        }

        h3 {
          margin-top: 1rem;
          padding: 0;
        }

        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
