.facts {
  padding: var(--outer-margin);
  @include mq($from: desktop) {
    margin-bottom: var(--space-bigger);
  }

  ul {
    display: grid;
    list-style: none;
    width: 100%;

    li {
      grid-column: span 3;
    }

    span {
      @include mq($until: desktop) {
        font-size: 0.8rem;
      }
    }
  }
}
