.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    margin-top: 100vh;
    padding: var(--outer-margin);

    .row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;

      &:nth-child(even) {
        align-items: flex-end;
      }

      span,
      img {
        margin-right: 0.2em;
      }

      h2 {
        font-size: 50px;
        line-height: 1;
        text-transform: uppercase;
      }

      img {
        max-height: 0.8em;
        opacity: 0;
      }
    }
  }
}