.introText {
  padding: var(--outer-margin);
  margin-bottom: var(--space-bigger);

  .intro {
    grid-column: 1 / span 5;
    text-transform: uppercase;
  }

  .text {
    grid-column: 7 / span 5;
  }
}
