.introText {
  padding: var(--outer-margin);
  margin-bottom: var(--space-bigger);
  margin-top: var(--space-big);

  .intro {
    grid-column: 1 / span 5;
    text-transform: uppercase;
  }

  .text {
    grid-column: 7 / span 5;

    p {
      opacity: 0;
      transform: translateY(20px);
      transition: all 1s ease-in-out;

      &:nth-child(1) {
        opacity: 1;
      }

      &.active {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}