.portfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: var(--space-mid);
  margin-bottom: var(--space-big);

  .header {
    display: flex;
    flex-direction: row;
    padding-left: var(--outer-margin);
    padding-right: var(--outer-margin);
    margin-bottom: var(--space-mid);

    h3 {
      flex: 1 1 auto;
    }

    a:hover {
      color: var(--blue) !important;
    }
  }

  .gallery {
    --gallery-height: 20vh;
    position: relative;
    overflow: visible;
    overflow-x: scroll;
    scrollbar-width: none;
    height: calc(var(--gallery-height) + 3em);

    ul {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;

      li {
        flex: 1 1 25%;
        height: 100%;
        position: relative;
        margin-right: 1rem;

        a {
          color: var(--black);
        }

        &:hover {
          span {
            transform: translateY(0);
          }
        }

        h4 {
          width: 100%;
          display: flex;
          justify-content: space-between;
          overflow: hidden;
          max-height: 1em;

          span {
            display: inline-block;
            transition: all 0.2s ease-in-out;
            transform: translateY(1em);
          }
        }

        figure {
          position: relative;
          aspect-ratio: 4/3;
          height: var(--gallery-height);

          img {
            object-fit: cover;
          }

          .text {
            position: absolute;
            display: none;
            align-items: flex-start;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            color: var(--white);
            padding: 1.5rem;
            box-sizing: border-box;

            p {
              margin: 0;
            }

            &.show {
              display: flex;
            }
          }
        }

        figure:hover {
          .text {
            display: flex;
          }
        }

        h4 {
          width: 100%;
          display: flex;
          justify-content: space-between;
          overflow: hidden;
          height: 2em;
          margin-top: 1em;

          span {
            display: inline-block;
            transition: all 0.2s ease-in-out;
            transform: translateY(1em);
          }
        }
      }
    }

    @include mq($from: desktop) {
      --gallery-height: 30vh;
    }
  }

}