.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-bottom: var(--space-big);
  margin-top: var(--space-big);
  z-index: 10;

  h1 {
    display: block;
    width: 100%;
    flex: 1 1 auto;
    overflow: hidden;
    margin-bottom: -0.1em;

    &:first-of-type {
      padding-top: var(--space-big);
    }

    &.right {
      text-align: right;
    }

    span {
      display: inline-block;
    }
  }

  &.margins {
    padding-left: var(--outer-margin);
    padding-right: var(--outer-margin);
  }
}
