.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-bottom: var(--space-bigger);

  h1 {
    width: 100%;
    flex: 1 1 auto;
    &:first-of-type {
      padding-top: var(--space-big);
    }

    &.right {
      text-align: right;
    }
  }
}
