.page {
  position: relative;
  --mobilHeight: 60vh;

  .header {
    height: 100vh;
    color: var(--white);
    display: flex;
    align-items: flex-end;
    margin-top: calc(-1 * var(--navbar-height));
    margin-bottom: var(--navbar-height);
    margin-left: calc(-1 * var(--outer-margin));
    position: relative;

    @include mq($until: desktop) {
      height: var(--mobilHeight);
    }
  }

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;

    @include mq($until: desktop) {
      height: var(--mobilHeight);
    }
  }

  h1 {
    padding-left: var(--outer-margin) !important;
  }

  .content {
    padding-left: var(--outer-margin);

    margin-bottom: var(--space-big);

    .intro {
      grid-column: span 2;

      @include mq($until: desktop) {
        margin-bottom: 1rem;
      }

      @include mq($from: desktop) {
        grid-column: span 1;
      }
    }

    .text {
      grid-column: span 2;

      @include mq($from: desktop) {
        padding-right: var(--space-mid);
        grid-column: span 1;
      }
    }
  }

  .scroll {
    display: none;
    @include mq($from: desktop) {
      display: block;
    }
    position: absolute;
    padding-left: var(--outer-margin) !important;

    bottom: calc(1 * var(--navbar-height));
    left: 0;
  }
}
