.page {
  position: relative;

  .header {
    height: 100vh;
    color: var(--white);
    display: flex;
    align-items: flex-end;
  }

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  .content {
    margin-bottom: var(--space-big);
    .intro {
      grid-template-columns: 1/2;
    }
    .text {
      padding-right: var(--space-mid);
    }
  }
}
