.popup {
  --padding: 1rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  margin: calc(var(--outer-margin));
  margin-right: calc(var(--outer-margin) - var(--padding));
  border-radius: 10px;
  padding: var(--padding);
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin-top: 1.5rem;
  background-color: var(--black);
  color: var(--white);
  opacity: 0;
  z-index: var(--z-popup);
  pointer-events: none;
  transform: translateX(calc(100% - var(--outer-margin) - var(--padding)));
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

  .header {
    display: flex;
    flex-direction: row;

    span {
      flex: 1 1 100%;
    }

    button {
      all: unset;
      cursor: pointer;
    }
  }

  .content {
    margin-top: var(--space-small);

    a {
      color: var(--white);

      &:hover {
        color: var(--blue-light);
      }
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin-top: var(--space-small);

      li {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 0;
        padding-bottom: 1em;

        &:hover>* {
          color: var(--white) !important;
        }

        .name {
          flex: 1 1 auto;
          margin-right: 1rem;
        }

        .phone {
          flex: 1 1;
          text-align: right;
          white-space: nowrap;
        }
      }
    }
  }

  &.show {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0%);
    background-color: var(--black);
    color: var(--white);

    a {
      color: var(--white);
    }
  }
}