.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  color: var(--black);
  padding: var(--outer-margin);
  height: 100vh;
  transition: all 0.8s ease-in-out;

  * {
    transition: all 0.8s ease-in-out;
    color: var(--black);
  }

  &.invert {
    background-color: var(--black);
    color: var(--white);

    * {
      color: var(--white);
    }

    img {
      filter: invert(1);
    }
  }

  .swiper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;

    .slideWrap {
      align-items: center;

      .slide {
        width: 100%;

        >div {
          padding: 10rem;

          h2 {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .copyright {
    display: flex;
    flex-direction: row;
    font-size: 0.7rem;

    .about {
      display: flex;
      justify-content: flex-end;
      flex: 1 1 auto;
      white-space: nowrap;

      @include mq($until: desktop) {
        align-items: center;
      }
    }
  }
}