.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--outer-margin);
  height: 100vh;
  transition: all 0.8s ease-in-out;

  * {
    transition: all 0.8s ease-in-out;
    color: var(--black);
  }

  &.invert {
    color: var(--white);

    * {
      color: var(--white);
    }

    img {
      filter: invert(1);
    }
  }

  .swiper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;

    .slideWrap {
      align-items: center;

      .slide {
        width: 100%;
        cursor: pointer;

        >div {
          --padding: 10rem;

          padding-left: var(--padding);
          padding-right: var(--padding);

          h3 {
            font-size: 1.6rem;
            text-transform: none;
          }

          @include mq($until: desktop) {
            --padding: var(--outer-margin);
          }
        }
      }
    }
  }

  .copyright {
    position: absolute;
    bottom: 3rem;
    width: calc(100% - 2 * var(--outer-margin));
    display: flex;

    img {
      height: 1.1rem;
    }

    .about {
      display: flex;
      justify-content: flex-end;
      flex: 1 1 auto;
      white-space: nowrap;

      @include mq($until: desktop) {
        align-items: center;
      }
    }
  }
}