.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--outer-margin);
  height: 100vh;
  transition: all 0.8s ease-in-out;

  * {
    transition: all 0.8s ease-in-out;
    color: var(--black);
  }

  &.invert {
    color: var(--white);

    * {
      color: var(--white);
    }

    img {
      filter: invert(1);
    }
  }

  .swiper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;

    .slideWrap {
      align-items: center;

      .slide {
        width: 100%;
        cursor: pointer;

        > div {
          --padding: 10rem;

          padding-left: var(--padding);
          padding-right: var(--padding);

          h3 {
            font-size: 1.2rem;
            text-transform: none;
            @include mq($from: desktop) {
              font-size: 1.6rem;
            }
          }

          @include mq($until: desktop) {
            --padding: calc(1 * var(--outer-margin));
          }
        }
      }
    }
  }

  .arrow {
    all: unset;
    position: absolute;
    top: 50%;
    //padding: 10px;
    line-height: 0;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    font-size: 2rem;

    @include mq($from: desktop) {
      font-size: 50px;
    }

    &.left {
      left: var(--outer-margin);
    }

    &.right {
      right: var(--outer-margin);
    }
  }

  .copyright {
    position: absolute;
    width: calc(100% - 2 * var(--outer-margin));
    display: flex;
    bottom: var(--outer-margin);

    @include mq($from: desktop) {
      bottom: 3rem;
    }

    img {
      height: 1.1rem;
    }

    .about {
      display: flex;
      justify-content: flex-end;
      flex: 1 1 auto;
      white-space: nowrap;

      @include mq($until: desktop) {
        align-items: center;
      }
    }
  }
}
