.navbar,
.sub {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--navbar-height);
  padding: var(--outer-margin);
  padding-top: var(--space-small);
  padding-bottom: var(--space-small);

  z-index: var(--z-navbar);

  .logo {
    flex: 1 1 auto;

    img {
      @include mq($until: desktop) {
        height: 1.2rem;
      }
    }
  }

  &.inverted {

    a,
    a:hover {
      color: var(--white);
    }

    .logo {
      img {
        filter: invert(1);
      }
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex: 1 1 auto;

    li {
      cursor: pointer;
      padding-right: 1.5rem;
      position: relative;

      &:last-child {
        padding-right: 0;
      }

      &.active>* {
        color: var(--blue) !important;
      }

      transition: transform 0.3s cubic-bezier(0.035, 1.250, 0.645, 0.935);
      transform: translateY(0);

      &.hide {
        transform: translateY(calc(-1 * var(--navbar-height)));
      }
    }

    @include mq($until: desktop) {
      display: none;
    }
  }

  .menu {
    span {
      position: relative;
      padding-right: 0.2em;
    }

    .item {
      &::after {
        position: absolute;
        content: " ";
        margin-left: 0.1rem;
      }

      &.dropdown:hover {
        &::after {
          content: "›";
          transform: rotate(90deg);
          padding-left: 0.1em;
        }
      }

      &:hover,
      &.active {
        color: var(--blue);
      }
    }
  }
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 var(--margin);

  a:hover {
    color: var(--blue);
  }

}

.sub {
  display: none;
  margin-top: var(--navbar-height);
  background-color: var(--blue);

  padding-left: calc(var(--margin) + var(--outer-margin));

  &.open {
    display: flex;
  }

  * {
    color: var(--white);
  }

  ul {
    li.active>a {
      color: var(--blue-light) !important;
    }
  }
}