.page {
  display: flex;
  flex-direction: column;

  ul {
    list-style: none;
  }

  .about {
    margin-bottom: var(--space-mid);
    div:first-of-type {
      grid-column: 1 / 5; /* Börjar vid kolumn 1 och slutar vid kolumn 3 */

      @include mq($from: desktop) {
        grid-column: 2 / 6; /* Börjar vid kolumn 1 och slutar vid kolumn 3 */
      }

      display: flex;
      aspect-ratio: 4/3;
      img {
      }
    }
    .text {
      grid-column: 5 / 13; /* Börjar vid kolumn 1 och slutar vid kolumn 3 */

      @include mq($from: desktop) {
        grid-column: 7 / 12; /* Börjar vid kolumn 1 och slutar vid kolumn 3 */
      }
    }
  }

  .principles {
    display: flex;
    flex-direction: column;
    margin-top: var(--space-bigger);

    ul {
      li {
        margin-bottom: var(--space-mid);

        .number {
          grid-column: 1/ 2; /* Börjar vid kolumn 1 och slutar vid kolumn 3 */
          line-height: 1;
          margin-top: -0.07em;
        }

        .content {
          grid-column: 2/ 7; /* Börjar vid kolumn 1 och slutar vid kolumn 3 */

          h3 {
            margin: 0;
          }

          p {
            margin: 0;
            padding: 0;
            padding-right: var(--space-small);
          }
        }
      }
    }
  }

  .people {
    margin-top: var(--space-bigger);
    margin-bottom: var(--space-big);
    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 0;

      li {
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;

        @include mq($from: desktop) {
          flex: 0 0 25%;
        }

        .number {
          font-size: 3rem;
          line-height: 1;
        }

        h3 {
          margin-top: 1rem;
          padding: 0;
        }

        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
