@use "fonts";
@use "mediaqueries";

:root {
	--black: #111111;
	--white: #fcfcfc;
	--blue: #104781;
	--blue-light: #7690ac;

	--red: #bf0000;

	--outer-margin: 4rem;
	--navbar-height: calc(1em + calc(2 * var(--space-small)));
	--background: var(--white);
	--foreground: var(--black);

	--z-navbar: 100;
	--z-hamburger: 200;
	--z-popup: 300;

	--space-big: 6rem;
	--space-bigger: 8rem;
	--space-mid: 4rem;
	--space-small: 2rem;

	--body-font: "Stockmark", Arial, Helvetica, Sans-Serif;
	--headline-font: "Stockmark", Arial, Helvetica, Sans-Serif;
	--line-height: 1.3;

	@include mediaqueries.mq($from: tablet) {}

	@include mediaqueries.mq($until: tablet) {
		--outer-margin: 1.2rem;
		--space-small: 1rem;
		--navbar-height: 48px;
	}
}

body {
	width: 100%;
	font-size: 100%;
	line-height: 1em;
	color: var(--foreground);
	background-color: var(--background);
	font-family: var(--body-font);
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "liga", "kern";
	transition:
		background-color 0.5s ease-in-out,
		color 0.5s ease-in-out;
}

html {
	box-sizing: border-box;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	background: var(--beige-light);
}

::-webkit-scrollbar:vertical {
	width: 0px;
}

::-webkit-scrollbar:horizontal {
	height: 0px;
}

::-webkit-scrollbar-thumb {
	background: var(--black);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: var(--foreground);
}

article {
	padding-top: var(--navbar-height);
	padding-left: var(--outer-margin);
	padding-right: var(--outer-margin);
}

article a {
	text-decoration: underline 1px transparent !important;
	text-underline-offset: 0.15em;
	text-decoration-thickness: 1px var(--blue);
	color: var(--blue);

	&:hover {
		text-decoration: underline 1px !important;
		text-underline-offset: 0.15em;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: var(--space-small);
	grid-row-gap: var(--space-small);
}

.grid-2 {
	@include mq($from: desktop) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: var(--space-small);
	}
}

.grid-6 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-column-gap: var(--space-small);
}

.intro {
	margin-bottom: var(--small-space);
	margin-top: -0.2em;
}

button {
	color: var(--foreground);
	border: 0;

	@include mediaqueries.mq($from: tablet) {}

	&.back {
		@include mediaqueries.mq($from: tablet) {}
	}
}

figcaption {
	line-height: 1;
	font-size: 0.7em;
	margin-bottom: 1em;
}

hr {}

input,
textarea,
select {}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: calc(100% - 1em);
	background-position-y: center;
	color: var(--black);
}

.right {
	justify-content: flex-end;
	text-align: right;
}

.invert {
	background-color: var(--black);
	color: var(--white);
}

.page-error {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100vw;
	min-height: 100vh;
	z-index: 100000;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}